
html {
    height: 100%;

}

html * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


body {
    height : 100%;
    font-size: 100%;
    background-color : rgb(80, 80, 80);
}

.banner {
    width : 114%;
    position: fixed;
    
}

._content {
    padding-left: 3%;
    margin: auto;
    margin-bottom: 8%;
    top: 8%;
    position: relative;
    padding-bottom: 5%;
    padding-top: 2%;

    
}
._content .menu {
    
    padding-top: 2%;
    display: inline-block;
    padding-bottom: 2%;
    margin-bottom: 1%;
    width: 480px;
}

._content .menu ul {
    list-style-type: none;
    
}

._content .menu ul li{
    padding: 5px 0px;
    display: initial;
    padding-right: 53px;

    
}

._content .menu ul li a {
    color: #383838; 
    font-size: 1.5em;
    cursor : pointer;
    text-decoration: underline;
    
}

._content .menu ul li a:hover,
._content .menu ul li a:visited,
._content .menu ul li a:active {
    color: #383838; 
    
}

._content .menu ul li a:hover{
    text-decoration: none;
    
}


.inline-block {
    display: inline-block;
}

.color {
    height: 13px;
    display: inline-block;
    float: left;
}

.w1 {
    width: 1%;
}

.w2 {
    width: 2%;
}

.w3 {
    width: 3%;
}

.w5 {
    width: 5%;
}

.w8 {
    width: 8%;
}

.w13 {
    width: 13%;
}

.w21 {
    width: 21%;
}

.w34 {
    width: 34%;
}

.cl1 {
    background-color: #C42A1F ;
}

.cl2 {
    background-color: orange ;
}

.cl3 {
    background-color: #4286B3 ;
}

.cl4 {
    background-color: #00B86B; /*green*/
}

.cl5 {
    background-color: #9EE3F7;
}

.cl6 {
    background-color: yellow ;
}

.cl7 {
    background-color: #E6B1FA ;
}

.cl8 {
    background-color: black ;
}


.container .navbar {
    margin-top: 60px;
}

.navbar-nav > li {
    font-size: 17px;
}

.navbar-brand,
#dd-label{
    color: #222222!important;
}


.navbar-nav .viewBy {
    margin-left : 80px;
}

.jvectormap-tip {
    font-size: 12px;
    padding: 3px 11px;
}


/*   spinner */

.load-bar {
  position: relative;
  margin-top: 1px;
  width: 100%;
  height: 6px;
  position: absolute;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}